/* ==========================================================================
    PÁGINA: CONTATO.HTML 
   ========================================================================== */
.parallaxInner:has(.contatoForm) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 80%;

}
.contatoForm {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    text-align: center;
}

.contatoForm h2 {
    color: var(--white);
    margin-bottom: 25px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--blueFord);
    display: inline-block;
}

.campo {
    margin-bottom: 15px;
}

.campo input, 
.campo select, 
.campo textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--ice);
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    color: var(--black);
}

.btnContato {
    background-color: var(--btnBlue);
    color: var(--white);
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.btnContato:hover {
    background-color: var(--blueFord); 
    transform: scale(1.05); 
}