:root {
    --black: #000000;
    --white: #ffffff;
    --blueFord: #1b357e;
    --btnBlue: #1351d8;
    --ice: #cccccc;
    --grey: #aaaaaa;
    --headerHeight: 80px; 
    --footerHeight: 60px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--blueFord);
    color: var(--black);
    overflow-x: hidden;
    padding-top: var(--headerHeight);
    padding-bottom: var(--footerHeight);
}

main {
    width: 100%;
    text-align: center;
}

/* ==========================================================================
    HEADER E NAVEGAÇÃO 
   ========================================================================== */
.header {
    background-color: var(--white);
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    gap: 32%;
}

.logoHeader {
    height:60px;
    width: auto;
    display: flex;
}

.navList {
    display: flex;
    gap: 60px; 
    list-style: none;
}

.navList a {
    text-decoration: none;
    color: var(--btnBlue);
    font-weight: 500;
    font-size: 23px;
    transition: color 0.3s ease;
}

.navList a:hover {
    opacity: 0.3;
}

/* ==========================================================================
    PÁGINA: INDEX.HTML 
   ========================================================================== */
.parallax {
    background: url("../img/rangerBlack.jpg")
    no-repeat fixed center;
    background-size: cover; 
    width: 100%;
    height: 1000px;
}

.parallaxInner {
    padding-top: 30%;
    padding-bottom: 35%;
    height: 100%;
}

.parallax span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px 100px;
    margin-top: -500px;
}

.parallax span img{
    width: 100%;
}

.margin {
    margin: 10px 10%;
    border: 1px solid var(--white);
    background-color: var(--blueFord);
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.margin p {
    margin: 0;
    color: var(--white);
    letter-spacing: 3px;
    text-align: center;
    width: 100%;           
    font-size: 1.1rem;
}

/* ==========================================================================
    PÁGINA: LANÇAMENTOS.HTML 
   ========================================================================== */

/* ==========================================================================
    PÁGINA: CONTATO.HTML 
   ========================================================================== */
.parallaxInner:has(.contatoForm) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 80%;

}
.contatoForm {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    text-align: center;
}

.contatoForm h2 {
    color: var(--white);
    margin-bottom: 25px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--blueFord);
    display: inline-block;
}

.campo {
    margin-bottom: 15px;
}

.campo input, 
.campo select, 
.campo textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--ice);
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    color: var(--black);
}

.btnContato {
    background-color: var(--btnBlue);
    color: var(--white);
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.btnContato:hover {
    background-color: var(--blueFord); 
    transform: scale(1.05); 
}

/* ==========================================================================
    FOOTER 
   ========================================================================== */
.footer {
    color: var(--white);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footerHeight);
    display: flex;
    align-items: center;
    z-index: 1000;
}
    
.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5%;
}

.socialSide {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
}

.socialLinks {
    display: flex;
    gap: 15px;
    list-style: none;
}

.socialLinks img {
    height: 35px;
    width: auto;
    transition: 0.3s;
}

.socialLinks a:hover img {
    opacity: 0.3;
}

.copyright {
    flex: 2;
    text-align: center;
    font-size: 1.25rem;
}

.footerLogo {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footerLogo img {
    width: auto;
}

/* ==========================================================================
    RESPONSIVIDADE
   ========================================================================== */

